@font-face {
  font-family: "Sarabun";
  src: url("https://fonts.googleapis.com/css2?family=Sarabun:wght@100&display=swap");
  font-family: kanit;
  src: url("https://fonts.googleapis.com/css2?family=kanit:wght@100&display=swap");
}
